/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

/* Estilo para las imágenes dentro del contenedor .project */
.project img {
  width: 100%; /* Se adapta al 100% del contenedor */
  max-width: 150px; /* Tamaño máximo, ajustable a tu necesidad */
  height: auto; /* Mantiene la proporción */
  display: block; /* Elimina el espacio debajo de la imagen */
  margin: 0 auto; /* Centra la imagen */
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.project {
  margin-bottom: 2rem;
}

/* Estilo para otros elementos */
header {
  background-color: #0073e6;
  color: white;
  padding: 1rem;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

/* Estilo para el texto introductor */
.intro-text {
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1rem;
}

nav {
  margin-top: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* Estilo principal de la página */
main {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #0073e6;
  color: white;
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
  font-size: 0.9rem;
}

p {
  word-wrap: break-word;
  text-align: justify;
  margin-bottom: 1.5rem;
}

a {
  color: #0073e6;
}

a:hover {
  color: #005bb5;
}
