/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

header {
  background-color: #0073e6;
  color: white;
  padding: 1rem;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2rem;
}

/* Estilo para el texto introductor */
.intro-text {
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1rem;
}

nav {
  margin-top: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* Estilo principal de la página */
main {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #005bb5;
}

/* Cartel en construcción */
#cartel-en-construccion {
  display: none; /* Inicialmente oculto */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffcc00;
  color: #333;
  font-size: 2rem;
  font-weight: bold;
  padding: 20px;
  border: 3px solid #ff5733;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 9999;
}

#cartel-en-construccion.mostrar {
  display: block; /* Se muestra cuando se le agrega la clase 'mostrar' */
}

/* Imágenes de proyectos */
.project img {
  width: 300px; /* Ajusta el tamaño de las imágenes */
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #0073e6;
  color: white;
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
  font-size: 0.9rem;
}

/* Botones de contacto */
a {
  color: #0073e6;
}

a:hover {
  color: #005bb5;
}
